---
interface Images {
  center: string
  leftTop: string
  leftBottom: string
  rightTop: string
  rightBottom: string
}

interface Props {
  images: Images
  class?: string
}

const { images, class: className } = Astro.props
---

<div
  class="flex items-center justify-center lg:min-h-screen lg:min-w-[600px]"
  class:list={[className]}
>
  <div class="relative z-0 img-animation">
    <div
      class="w-[250px] lg:w-[300px] h-[500px] bg-center bg-cover bg-no-repeat"
      style=`background-image: url(${images.center});`
    >
    </div>
    <div
      class="absolute bg-center bg-cover bg-no-repeat -z-20 top-0 left-0 w-[150px] lg:w-[200px] h-[300px]"
      style=`background-image: url(${images.leftTop});`
    >
    </div>
    <div
      class="absolute bg-center bg-cover bg-no-repeat -z-10 bottom-0 left-0 w-[150px] lg:w-[200px] h-[350px]"
      style=`background-image: url(${images.leftBottom});`
    >
    </div>
    <div
      class="absolute bg-center bg-cover bg-no-repeat -z-10 top-0 right-0 w-[100px] lg:w-[150px] h-[200px]"
      style=`background-image: url(${images.rightTop});`
    >
    </div>
    <div
      class="absolute bg-center bg-cover bg-no-repeat -z-10 bottom-0 right-0 w-[125px] lg:w-[175px] h-[275px]"
      style=`background-image: url(${images.rightBottom});`
    >
    </div>
  </div>
</div>

<style>
  .img-animation div:nth-child(2) {
    animation: leftTopMove both;
    animation-timeline: view();
    animation-range: entry 30% cover 60%;
  }

  .img-animation div:nth-child(3) {
    animation: leftBottomMove auto both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
  }

  .img-animation div:nth-child(4) {
    animation: rightTopMove both;
    animation-timeline: view();
    animation-range: entry 30% cover 60%;
  }

  .img-animation div:nth-child(5) {
    animation: rightBottomMove both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
  }

  @keyframes leftTopMove {
    from {
      scale: 0.5;
    }
    to {
      top: -2.5rem;
      left: -10rem;
      scale: 1;
    }
  }

  @keyframes leftBottomMove {
    from {
      scale: 0.5;
    }
    to {
      bottom: -4rem;
      left: -8rem;
      scale: 1;
    }
  }

  @keyframes rightTopMove {
    from {
      scale: 0.5;
    }
    to {
      top: 2rem;
      right: -7rem;
      scale: 1;
    }
  }

  @keyframes rightBottomMove {
    from {
      scale: 0.5;
    }
    to {
      bottom: -2rem;
      right: -10.5rem;
      scale: 1;
    }
  }
</style>
